name: Deploy a mi Servidor

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Ejecutar comandos remotos vía SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /home/ubuntu/fastapi_backend
            git pull origin-ssh main
            sudo systemctl restart chati_api.service 
            # hay que configurar sudo para que el usuario ubuntu pueda hacer el restart sin contraseña
